.sail_wrapper {
  margin: 0 auto;
  width: 1345px;

  padding: 0 0 45px 0;
  background: #ffffff;
}
.sail_title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 91px;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 43px;
}

.sail_page_title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 81px;
}
@media (max-width: 1030px) {
  .sail_page_title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .sail_wrapper {
    padding: 0 25px;
  }
  .card_container {
    min-width: 270px;
  }
}
