.product_page {
  margin: 0 auto;
  width: 1345px;
  padding: 0 0 187px 0;
  background: #ffffff;
}
.product_info {
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: 600;
  font-size: 36px;
  color: #3a3a3a;
  margin-bottom: 34px;
}
.image {
  width: 710px;
  height: 710px;
  margin-left: 58px;
  border-radius: 12px;
  overflow: hidden;
  object-fit: contain;
}
.price_wrapper {
  margin-top: 98px;
}
.product_details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.discont_price {
  font-weight: 600;
  font-size: 70px;
  color: #000000;
}
.price {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-decoration-line: line-through;
  color: #8b8b8b;
}
.no_discount_price {
  justify-content: flex-start;
}
.no_discount_price p {
  text-decoration-line: none;
  font-weight: 600;
  font-size: 70px;
  color: #000000;
}
.discount_percentage {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.03em;
  color: #ff32a1;
}
.divider {
  width: 422px;
  border: 1px dashed #c0c0c0;
  margin-top: 40.5px;
  margin-bottom: 25.5px;
}
.description_title {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.description {
  width: 412px;
  font-weight: 500;
  font-size: 20px;
}

/* /// */

@media (max-width: 1370px) {
  .product_page {
    padding: 0 20px;
    width: auto;
    text-align: center;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .image {
    width: 300px;
    height: 300px;
    margin-left: auto;
  }

  .title {
    font-size: 24px;
  }

  .price_wrapper {
    margin-top: 20px;
    width: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product_details {
    display: flex;
    align-items: center;

    gap: 35px;
  }

  .discont_price {
    font-size: 40px;
  }

  .price {
    font-size: 14px;
  }

  .no_discount_price p {
    font-size: 40px;
  }

  .discount_percentage {
    font-size: 18px;
  }

  .divider {
    width: 262px;
  }

  .description_title {
    font-size: 14px;
  }

  .description {
    width: 100%;
    font-size: 14px;
  }
}
