.category_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  /* position: relative;
  overflow: hidden; */
}
.category_card:last-child {
  margin-right: 0;
}

/* .category_card img {
  width: 318px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, filter 0.3s ease;
}
.category_card img:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
}

.category_card p {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
} */
