.banner_wrapper {
  padding: 110px 0 20px 47.5px;
  width: auto;
  min-height: 600px;
  background-color: #a1e2eb;
  color: #ffffff;
  display: flex;
  align-items: center;

  font-style: normal;
}
.sail_banner {
  margin: 0 auto;
  max-width: 1345px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.sale_heading {
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 3px;
}

.season_heading {
  font-weight: 700;
  font-size: 63px;
  margin-bottom: 60px;
}

.baner_image img {
  width: 650px;
  height: 500px;
}

@media (max-width: 900px) {
  .banner_wrapper {
    flex-direction: column;
  }
  .sail_banner {
    text-align: center;
    flex-direction: column-reverse;
    margin: 0 20px;
  }
  .sail_banner h1 {
    font-size: 60px;
  }
  .sail_banner h2 {
    font-size: 43px;
  }
  .baner_image img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
