.cartItem_wrapper {
  padding: 40px 0;
  border-bottom: 1px solid #a7a7a7;
  position: relative;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.product_image {
  margin-right: 29px;
  width: 192px;
  height: 192px;
  border-radius: 10px;
  /* overflow: hidden; */
  object-fit: cover;
}

.fg {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: flex-start; */
}

.priceAll_wrapper {
  /* justify-content: space-between; */
}
.counter_wrapper {
  flex-grow: 1;
  /* margin-right: max(100px); */
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cart_item_title {
  font-weight: 600;
  font-size: 18px;
  color: #3a3a3a;
}

.counter_box {
  padding: 5px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #000000;
  border-radius: 10px;
}

.minus,
.plus {
  font-size: 25px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.minus:hover {
  color: #ff5e36;
}
.plus:hover {
  color: #339933;
}

.counter {
  font-weight: 600;
  width: 18px;
}

.priceBlock_wrapper {
  flex-grow: 1;
  /* margin-right: 10px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.price_wrapper {
  margin: 0 50px 98px 0;
  display: flex;
  align-items: flex-end;
}

.discount_price {
  font-weight: 600;
  font-size: 40px;
  /* margin-left: 76px; */
}

.price {
  font-weight: 500;
  font-size: 20px;
  color: #8b8b8b;
  text-decoration: line-through;
  margin-left: 70px;
}

.closeBtn {
  font-size: 20px;
  cursor: pointer;
}
