.footer_wrapper {
  margin: 0 auto;
  max-width: 1345px;
  min-height: 933px;
  padding: 48px 0 38px 0;
  background: #ffffff;
}

.contacts_wrapper {
  display: flex;
  justify-content: space-between;
}
.contact_logo {
  display: flex;
}
.contact_title {
  width: 167px;
  height: 52px;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 25px;
}
.contact_phone {
  font-weight: 600;
  font-size: 70px;
  margin-bottom: 33px;
}
.contactItem_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first_contactItem_logo {
  margin-right: 34px;
}

.social_icon {
  width: 44px;
  height: 44px;
  color: #000000;
}
.contactItem_logo:hover {
  transition: all 0.5s;
}
.social_icon:hover {
  color: #339933;
  cursor: pointer;
}
.adress_title {
  font-weight: 700;
  font-size: 40px;

  margin-bottom: 25px;
}
.adress_link {
  text-decoration: none;
  color: #000000;
}
.adress_text {
  width: 520px;
  height: 104px;
  line-height: 130%;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}
.adress_text:hover {
  cursor: pointer;
  color: #339933;
}
.working_hours_title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 2px;
}
.working_hours_text {
  font-weight: 600;
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .contacts_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .contact_title {
    margin: 0 auto;
  }
  .contact_phone {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 33px;
  }
  .contact_logo {
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .adress_title {
    font-weight: 700;
    font-size: 30px;
  }
  .adress_text {
    width: auto;

    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .adress_wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
